@model InvoiceAndStorage.Web.ViewModels.SoldProducts.InvoiceSoldProductsViewModel

@{
    ViewData["Title"] = "InvoiceSoldProducts";
}

<h1>Продукти по фактура №@Model.InvoiceNumber</h1>

<div class="container-xl">
    <table class="table table-responsive-xl table-hover">
    <thead>
        <tr class="row">
            <th class="col">Име на продукта</th>
            <th class="col">Количество</th>
            <th class="col">Единична цена</th>
            <th class="col">Тотал</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.SoldProducts)
        {
            <tr class="row">
                <td class="col">
                    <label asp-for="@item.ProductName">@item.ProductName</label>
                </td>
                <td class="col">
                    <label asp-for="@item.Quantity">@item.Quantity</label>
                </td>
                <td class="col">
                    <label asp-for="@item.UnitPrice">@item.UnitPrice.ToString("F2") лв.</label>
                </td>
                <td class="col">
                    <label asp-for="@item.TotalValue">@item.TotalValue.ToString("F2") лв.</label>
                </td>
            </tr>
        }
        <tr class="row"> 
            <td class="col-9 text-right">Сума без ДДС</td>
            <td class="col-3">@Model.TotalSum.ToString("F2") лв.</td>
        </tr>
        <tr class="row">
            <td class="col-9 text-right">ДДС 20%</td>
            <td class="col-3">@Model.Vat.ToString("F2") лв.</td>
        </tr>
        <tr class="row">
            <td class="col-9 text-right">Сума с ДДС</td>
            <td class="col-3">@Model.TotalValue.ToString("F2") лв.</td>
        </tr>
    </tbody>
</table>
</div>



