@model InvoiceAndStorage.Web.ViewModels.SoldProducts.InvoiceSoldProductsViewModel

@{
    ViewData["Title"] = "InvoiceSoldProducts";
}

<h1>Продукти по фактурата</h1>

    <table class="table table-responsive table-hover flex-fill" >
    <thead>
        <tr>
            <th>Име на продукта</th>
            <th>Количество</th>
            <th>Единична цена</th>
            <th>Тотал</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.SoldProducts)
        {
            <tr>
                <td>
                    <label asp-for="@item.ProductName">@item.ProductName</label>
                </td>
                <td>
                    <label asp-for="@item.Quantity">@item.Quantity</label>
                </td>
                <td>
                    <label asp-for="@item.UnitPrice">@item.UnitPrice</label>
                </td>
                <td>
                    <label asp-for="@item.TotalValue">@item.TotalValue</label>
                </td>
            </tr>
        }
        <tr>
            <td>ДДС</td>
            <td>@Model.Vat %</td>
        </tr>
        <tr>
            <td>Сума с ДДС</td>
            <td>@Model.TotalValue</td>
        </tr>
    </tbody>
</table>


