@model InvoiceAndStorage.Web.ViewModels.Product.AddProductWithoutVatNumberViewModel

@{
    ViewData["Title"] = "AddProductWithoutVatNumber";
}

@if (@TempData["AddProductWithoutVatNumber"] != null)
{
    <div id="newProduct" class="alert alert-danger"><h3>@TempData["AddProductWithoutVatNumber"]</h3></div>
}

<h1>Добaви продукт</h1>
<hr />
<div class="row">
  @*  <div class="col-md-4">*@
        <form asp-controller="Product" asp-action="AddProductWithoutVatNumber" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Amount" class="control-label"></label>
                <input asp-for="Amount" class="form-control" />
                <span asp-validation-for="Amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CompanyIdentificationNumber" class="control-label"></label>
                <input asp-for="CompanyIdentificationNumber" class="form-control" />
                <span asp-validation-for="CompanyIdentificationNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Създай продукт" class="btn btn-primary" />
            </div>
            <div class="form-group">

            </div>
        </form>
       @* <table class="table table-responsive table-hover">
            <thead>
                <tr>
                    <th>
                    </th>
                    <th>
                    </th>
                    <th>
                    </th>
                    <th>
                    </th>
                    <th>
                    </th>
                    <th>
                    </th>
                    <th>
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @item.CompanyIdentificationNumber
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CityName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CompanyOwner)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CountryName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CityName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.StreetName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.StreetNumber)
                        </td>
                        <td>
                            <a asp-controller="Product" asp-action="AddProduct" asp-route-id="@item.CompanyIdentificationNumber">Добвави продукт</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>*@
    @*</div>*@
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
<partial name="_ValidationScriptsPartial" />

}
<script>
    setTimeout(function () {
        $('#newProduct).hide('fade');
    }, 10000);
</script> 


