@using InvoiceAndStorage.Web.ViewModels.Product
@model IEnumerable<ProductViewModel>

@{
    ViewData["Title"] = "AllProducts";
}

<h1>AllProducts</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table table-hover">
    <thead>
        <tr >
            <th>@Html.DisplayNameFor(model=>model.Name)</th>
            <th>@Html.DisplayNameFor(model=>model.Amount)</th>
            <th>@Html.DisplayNameFor(model=>model.Price)</th>
            <th>@Html.DisplayNameFor(model=>model.DeliveryDate)</th>
            <th>@Html.DisplayNameFor(model=>model.SupplierName)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr >
                <td>@item.Name</td>
                <td>@item.Amount</td>
                <td>@item.Price</td>
                <td>@item.DeliveryDate</td>
                <td>@item.SupplierName</td>
            </tr>
        }
    </tbody>
</table>
